Package: enigma2-plugin-extensions-linuxsat-panel
Version: 2.5
Description: addons panel
Section: extra
Priority: optional
Maintainer: master G - Lululla - graph: oktus
Architecture: all
OE: 2.0/2.5-2.6
Homepage: https://www.linuxsat-support.com
Source: https://www.linuxsat-support.com

